body {
  padding: 15px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* https://uigradients.com/ */
  background: #BBD2C5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #292E49, #536976, #BBD2C5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #292E49, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#digital-board {
  /* touch-action: none; */
  background-image: linear-gradient(#F1F1F1 50%, #F9F9F9 50%);
  background-size: 100% 2.5rem;
  border: 1px solid #CCC;
  line-height: 1.25rem;
  font-size: 18px;
  width: 100%;
  height: 80vh;
  resize: none; 
}

#new-text-input {
  font-size: 18px;
  width: 99.5%;
}